[submodule "phase_retrieval"]
	path = phase_retrieval
	url = https://github.com/lfast-telescope/phase_retrieval.git
[submodule "SHWFS"]
    path = SHWFS
    url = https://github.com/lfast-telescope/SHWFS.git
    branch = refactor/high_level_processing
[submodule "interferometer"]
	path = interferometer
	url = https://github.com/lfast-telescope/interferometer.git
	branch = dev
